<!DOCTYPE html>
<html>
<head>
    {% include ('basic/head.twig') %}
</head>
<body>
    <div class="main-content js-main-content">
        {% include ('page/' ~ page ~ '.twig') %}
    </div>
</body>
</html>