<!DOCTYPE html>
<html>
<head>
    {% include ('basic/head.twig') %}
</head>
<body class="{% if isAdmin %}admin{% endif %}">
{% if isAdmin %}
    {% include ('basic/header.twig') %}
{% endif %}

    <div class="main-content js-main-content">
        {% include ('page/' ~ page ~ '.twig') %}
    </div>
</body>
</html>