{% include ('module/partial/notification.twig') %}

<div class="admin-page js-admin-page">
    <div class="content-container start-time-set">
        <h2>Startzeiten definieren</h2>

        {% if startTimeGroups %}
            <div class="start-time-set-container">
                {% for key, startTimeGroup in startTimeGroups %}
                    <div>
                        <a href="{{ route('setStartTime', {startTimeGroup: key}) }}">
                            <h3>Gruppe {{ key + 1 }} startet</h3>
                            <p>[{% for type in startTimeGroup %}{{ type.getCompetitionName }}{% endfor %}]</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>