{% include ('module/partial/notification.twig') %}

<div class="competition-day-page js-competition-day-page">
    <div class="content-container upload-runner-file">
        <h2>Upload Läuferdatei</h2>

        <form action="{{ route('uploadRunnerFile') }}" method="post" enctype="multipart/form-data">
            <p><label for="runnerFile">Datei: <input type="file" name="runnerFile"></label></p>
            <p><label for="date">Datum des Wettbewerbes: <input type="date" name="date" {% if today %}value="{{ today }}"{% endif %}></label></p>
            <div class="flex"><input type="checkbox" checked name="resetCompetitionData" id="resetCompetitionData"> <label
                        for="resetCompetitionData">Sollen bestehende Daten zu diesem Lauf gelöscht werden?</label></div>
            <p><input type="submit" name="submit" value="Speichern"></p>
        </form>
    </div>

    <div class="content-container upload-competition-results-file">
        <h2>Upload Competition-Datei</h2>

        <form action="{{ route('uploadCompetitionResultsFile') }}" method="post" enctype="multipart/form-data">
            <p><label for="resultsFile">Datei: <input type="file" name="resultsFile"></label></p>
            <p><input type="submit" name="submit" value="Speichern"></p>
        </form>
    </div>

    {% include ('module/duplicates.twig') %}
</div>