.admin-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .content-container {
    min-height: 11em;
    margin-bottom: 2em;
  }

  .delete-competition {
    form {
      margin-top: 1em;
    }

    select {
      margin-top: 0.25em;
    }

    .with-results-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1em;

      input {
        width: 1.5em;
        margin-right: 0.5em;
      }
    }
  }

  .start-time-set {
    max-width: 40em;

    .start-time-set-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 1.5em;

      > div {
        width: 300px;
        padding: 1.2em;
        margin-right: 2.5em;
        background-color: fade(@color-6, 50%);

        h3 {
          text-align: center;
          line-height: 1.5em;
          margin-bottom: 0.5em;
          color: @color-1;
        }

        p {
          font-size: 0.7em;
          text-align: center;
          color: @color-1;
        }
      }
    }

    .actual-start-time {
      display: flex;
      justify-content: flex-start;
      margin-top: 0.5em;

      > div {
        width: 348px;
        margin-right: 2.5em;
        text-align: center;
        font-size: 0.88em;
      }
    }
  }

  .delete-time-measure {
    a {
      color: @color-5;
    }
  }
}