.admin-page {
  .start-time-set {
    max-width: 40em;

    .start-time-set-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 1.5em;

      > div {
        width: 300px;
        padding: 1.2em;
        margin-right: 2.5em;
        background-color: @color-6;

        a {
          color: @color-7;
        }

        h3 {
          text-align: center;
          line-height: 1.5em;
          margin-bottom: 0.88em;
        }

        p {
          font-size: 0.7em;
          text-align: center;
        }
      }
    }
  }
}