.speaker-page {
  padding: 15px 50px;
  margin-bottom: 650px;

  .runner-speaker {
    width: 100%;
    height: 65px;
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid @color-1;
    position: relative;

    &.female-runner {
      .runner-name, .runner-age-group, .runner-club {
        color: @color-5;
      }
    }

    &.last-round {
      background-color:fade(@color-3, 53%);
    }

    &.more-rounds {
      background-color:fade(@color-4, 53%);
    }

    &:last-of-type {
      border-bottom: none;
    }

    .new-runner {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 10px solid @color-3;
    }

    .startnumber {
      font-family: @font-family-2;
      font-size: 49px;
      width: 100px;
      margin-right: 40px;
      margin-left: 15px;
      text-align: center;
    }
  }

  .rounds {
    display: flex;
    justify-content: flex-start;
    min-width: 440px;

    .round-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 110px;
      margin-right: 20px;

      >div {
         >div {
           height: 23px;
         }
      }
    }
  }

  .ranking-last-year {
    margin-left: 20px;
    display: flex;

    .last-year {
      height: 38px;
      width: 28px;
      text-align: center;
      font-size: 14px;
      line-height: 55px;
      background: url('@{basic-path}/img/ranking.png') no-repeat center center;
    }

    .last-year-rank {
      margin-left: 10px;
      line-height: 40px;
    }
  }
}

.runner-data {
  margin-right: 40px;
  width: 300px;

  .runner-name {
    font-family: @font-family-3;
    margin-right: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 26px;
  }

  .runner-age-group {
    max-width: 80px;
  }
}

.speaker-competition-status {
  position: fixed;
  height: 600px;
  width: 92%;
  left: 0;
  bottom: 0;
  border-top: 1px solid @color-1;
  z-index: 1;
  padding: 15px 50px;
  background-color: @color-2;

  h1 {
    font-size: 37px;
    font-family: @font-family-3;
  }

  .gender-container {
    display: flex;
    justify-content: space-between;
  }

  .gender-competition {
    width: 500px;

    .runner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &.last-round {
        background-color:fade(@color-3, 53%);
      }

      .ranking {
        font-size: 58px;
        font-family: @font-family-1;
        margin-right: 20px;
      }

      .runner-time {
        font-size: 33px;
        font-family: @font-family-3;
      }

      .runner-name {
        margin-right: 20px;
      }
    }
  }
}

.runner-count {
  position: fixed;
  z-index:3;
  bottom: 0;
  left: 50px;
}

// Landscape modus
.speaker-page.landscape {

  .speaker-runner-container {
    width: 55em;
    border-right: 1px solid @color-1;
  }

  .speaker-competition-status {
    width: 30em;
    right: 0;
    top: 0;
    left: unset;
    bottom: unset;
    border: none;

    .gender-container {
      display: block;

      .gender-competition:first-of-type {
        margin-bottom: 3em;
      }
    }
  }
}
