@font-face {
    font-family: 'nirmalaRegular';
    src: url('@{basic-path}font/Nirmala.ttf');
}

@font-face {
    font-family: 'nirmalaSemilight';
    src: url('@{basic-path}font/NirmalaS.ttf');
}

@font-face {
    font-family: 'nirmalaBold';
    src: url('@{basic-path}font/NirmalaB.ttf');
}