@basic-path: '../';

// colors
@color-1: #707070; // grey1
@color-2: #ffffff; // white
@color-3: #BCD4BA; // green
@color-4: #FFDF61; // yellow
@color-5: #D53D3D; // red
@color-6: #5DE96B; // light green

@color-7: #3F4340; // dark grey
@color-8: #EDDF39; // yellow

@font-family-1: 'nirmalaRegular', sans-serif;
@font-family-2: 'nirmalaSemilight', sans-serif;
@font-family-3: 'nirmalaBold', sans-serif;

@font-family-4: 'Montserrat Regular', sans-serif;
@font-family-5: 'Varela Round', sans-serif;

@max-width: 1024px;
@admin-max-width: 82.25em;